body {
	font-family: verdana;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap; 
    white-space: -o-pre-wrap;
    word-wrap: break-word; 
}

.dropdown-menu > li >  a.focus,
.dropdown-menu > li > a:hover
{
	background-color: royalblue; /*#90cfe7;*/
}

.btn {
	border-radius: 0px;
}

div#nav-right-block {
	width: 305px;
	padding: 10px;
	padding-bottom: 0px;
}

/*
body, main.container-fluid {
	min-height: 100vh;
}
*/

.main-wrapper {
	margin:0 auto -3.2vh;
	padding-bottom: 8vh;
	min-height: 75vh;
}

#nav-footer {
	height: 4vh;
}

.icon-size
{
	font-size: 87px;
}

.icon-right {
	float: right;
	margin-top: -17px;
	margin-right: 0px;
}
