<script type="text/template">
<nav class="navbar navbar-inverse " role='navigation'>
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#"><i class="fa fa-lg fa-home"></i> Experimental v<%= app.version %></a></div>
	<div id="navbar" class="navbar-collapse collapse ">
	  <ul class="nav navbar-nav">
		<li class='dropdown'>
			<a href="#" class='data-toggle' data-toggle='dropdown'>Lorem <span class="caret"></span></a>
			<ul class='dropdown-menu'>
				<li><a href="lorem"><i class="fa fa-lg fa-download">&nbsp;</i>Lorem</a></li>
				<li><a href="ipsum"><i class="fa fa-lg fa-upload">&nbsp;</i>Ipsum</a></li>
				<li class="divider"></li>
				<li><a href="dolor"><i class="fa fa-lg fa-rotate-right">&nbsp;</i>Dolor</a></li>
				<li><a href="sit/amet"><i class="fa fa-lg fa-cog">&nbsp;</i>Sit Amet</a></li>
			</ul>
		</li>
		<li class='dropdown'>
			<a href="#" class='data-toggle' data-toggle='dropdown'>Ipsum <span class="caret"></span></a>
			<ul class='dropdown-menu'>
				<li><a href="consectetur"><i class="fa fa-lg fa-life-ring">&nbsp;</i>Consectetur</a></li>
				<li><a href="adipiscing"><i class="fa fa-lg fa-life-ring">&nbsp;</i>Adipiscing</a></li>
				<li class=""></li>
				<li><a href="elit"><i class="fa fa-lg fa-info-circle">&nbsp;</i>About Experimental</a></li>
			</ul>
		</li>
	  </ul>
	<ul class="nav navbar-nav navbar-right ">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-user">&nbsp;</i>John Doe<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li>
					<div id="nav-right-block">
						<div class="row">
							<div class="col-lg-4">
								<p class="text-center">
									<span class="fa fa-user icon-size"></span>
								</p>
							</div>
							<div class="col-lg-8">
								<h3 class="text-left">John Doe</h3>
								<h5 class='text-left text-sm'>johndoe@nowhere.com</h5>
								<p class="text-left">
									<a href="#" class="btn btn-primary btn-block btn-md hidden">Profile</a>
								</p>
							</div>
						</div>
					</div>
				</li>
				<li class="divider"></li>
				<li ><a href="/manage_users">Manage User Access <span class="fa fa-lg fa-user icon-right"></span></a></li>
				<li class="divider"></li>
				<li><a href="/logout">Sign Out <span class="fa fa-lg fa-sign-out icon-right"></span></a></li>
			</ul>
		</li>
	</ul>
	</div>
  </div>
</nav>
<h2 class="col-md-offset-4 col-md-4 well  text-center border" style="margin-top:-12px;"><i class='fa fa-user'></i> <span id="spn-title"></span></h2>
</script>
